In [1]:
import pandas as pd

In [2]:
# https://dados.gov.br/dados/conjuntos-dados/cadastro-unico---familiaspessoas-por-faixas-de-renda-per-capita

In [3]:
url_2021 = 'https://aplicacoes.mds.gov.br/sagi/servicos/misocial?fq=anomes_s:2021*&wt=csv&omitHeader=true&fq=cadunico_tot_fam_i:{0%20TO%20*]&q=*&fl=ibge:codigo_ibge,anomes:anomes_s,cadunico_tot_fam:cadunico_tot_fam_i,cadunico_tot_pes:cadunico_tot_pes_i,cadunico_tot_fam_rpc_ate_meio_sm:cadunico_tot_fam_rpc_ate_meio_sm_i,cadunico_tot_pes_rpc_ate_meio_sm:cadunico_tot_pes_rpc_ate_meio_sm_i,cadunico_tot_fam_pob:cadunico_tot_fam_pob_i,cadunico_tot_pes_pob:cadunico_tot_pes_pob_i,cadunico_tot_fam_ext_pob:cadunico_tot_fam_ext_pob_i,cadunico_tot_pes_ext_pob:cadunico_tot_pes_ext_pob_i,cadunico_tot_fam_pob_e_ext_pob:cadunico_tot_fam_pob_e_ext_pob_i,cadunico_tot_pes_pob_e_ext_pob:cadunico_tot_pes_pob_e_ext_pob_i&rows=100000000&sort=anomes_s%20desc,%20codigo_ibge%20asc'
url_2022 = 'https://aplicacoes.mds.gov.br/sagi/servicos/misocial?fq=anomes_s:2022*&wt=csv&omitHeader=true&fq=cadunico_tot_fam_i:{0%20TO%20*]&q=*&fl=ibge:codigo_ibge,anomes:anomes_s,cadunico_tot_fam:cadunico_tot_fam_i,cadunico_tot_pes:cadunico_tot_pes_i,cadunico_tot_fam_rpc_ate_meio_sm:cadunico_tot_fam_rpc_ate_meio_sm_i,cadunico_tot_pes_rpc_ate_meio_sm:cadunico_tot_pes_rpc_ate_meio_sm_i,cadunico_tot_fam_pob:cadunico_tot_fam_pob_i,cadunico_tot_pes_pob:cadunico_tot_pes_pob_i,cadunico_tot_fam_ext_pob:cadunico_tot_fam_ext_pob_i,cadunico_tot_pes_ext_pob:cadunico_tot_pes_ext_pob_i,cadunico_tot_fam_pob_e_ext_pob:cadunico_tot_fam_pob_e_ext_pob_i,cadunico_tot_pes_pob_e_ext_pob:cadunico_tot_pes_pob_e_ext_pob_i&rows=100000000&sort=anomes_s%20desc,%20codigo_ibge%20asc'

In [4]:
cad_unico_2021 = pd.read_csv(url_2021)
cad_unico_2021

,ibge,anomes,cadunico_tot_fam,cadunico_tot_pes,cadunico_tot_fam_rpc_ate_meio_sm,cadunico_tot_pes_rpc_ate_meio_sm,cadunico_tot_fam_pob,cadunico_tot_pes_pob,cadunico_tot_fam_ext_pob,cadunico_tot_pes_ext_pob,cadunico_tot_fam_pob_e_ext_pob,cadunico_tot_pes_pob_e_ext_pob
0,110001,202112,4318,11668,2861,8954,632,2126,988,3125,1620,5251
1,110002,202112,14454,36161,10417,29374,2719,8176,2623,7495,5342,15671
2,110003,202112,678,1960,512,1614,131,426,160,464,291,890
3,110004,202112,13487,33704,8976,25911,1789,5559,2727,7737,4516,13296
4,110005,202112,2697,6809,1875,5485,401,1258,484,1522,885,2780
...,...,...,...,...,...,...,...,...,...,...,...,...
66835,522200,202101,1554,4379,1051,3453,212,762,196,587,408,1349
66836,522205,202101,1681,3901,1281,3371,147,412,849,2245,996,2657
66837,522220,202101,1252,3070,929,2588,111,323,550,1553,661,1876
66838,522230,202101,1107,2767,879,2445,195,663,432,1116,627,1779
66839,530010,202101,162687,433167,131163,387864,19343,62842,78464,228473,97807,291315

In [5]:
cad_unico_2022 = pd.read_csv(url_2022)
cad_unico_2022

,ibge,anomes,cadunico_tot_fam,cadunico_tot_pes,cadunico_tot_fam_rpc_ate_meio_sm,cadunico_tot_pes_rpc_ate_meio_sm,cadunico_tot_fam_pob,cadunico_tot_pes_pob,cadunico_tot_fam_ext_pob,cadunico_tot_pes_ext_pob,cadunico_tot_fam_pob_e_ext_pob,cadunico_tot_pes_pob_e_ext_pob
0,110001,202212,4900,12695,3231,9574,758,2503,1063,3005,1821,5508
1,110002,202212,16852,39857,12160,32098,3131,8917,3467,8743,6598,17660
2,110003,202212,910,2504,648,1990,161,523,145,385,306,908
3,110004,202212,17295,40718,11791,31406,2614,7373,4150,10481,6764,17854
4,110005,202212,3131,7631,2202,6139,517,1451,678,1965,1195,3416
...,...,...,...,...,...,...,...,...,...,...,...,...
66835,522200,202201,1913,5135,1375,4190,331,1032,321,990,652,2022
66836,522205,202201,1847,4260,1390,3644,187,484,807,2133,994,2617
66837,522220,202201,1410,3276,1058,2786,104,274,713,1923,817,2197
66838,522230,202201,1371,3273,1115,2910,169,513,647,1683,816,2196
66839,530010,202201,203730,533485,170245,485598,20985,66424,110202,307698,131187,374122

Separando coluna anomes

In [6]:
cad_unico_2021['anomes'] = cad_unico_2021['anomes'].astype(str)
cad_unico_2021['ano'] = cad_unico_2021['anomes'].str[:4]
cad_unico_2021['mes'] = cad_unico_2021['anomes'].str[4:]
cad_unico_2021['ano'] = cad_unico_2021['ano'].astype(int)
cad_unico_2021['mes'] = cad_unico_2021['mes'].astype(int)
cad_unico_2021.drop('anomes', axis=1, inplace=True)

In [7]:
cad_unico_2022['anomes'] = cad_unico_2022['anomes'].astype(str)
cad_unico_2022['ano'] = cad_unico_2022['anomes'].str[:4]
cad_unico_2022['mes'] = cad_unico_2022['anomes'].str[4:]
cad_unico_2022['ano'] = cad_unico_2022['ano'].astype(int)
cad_unico_2022['mes'] = cad_unico_2022['mes'].astype(int)
cad_unico_2022.drop('anomes', axis=1, inplace=True)

In [8]:
cad_unico_2021.describe()

,ibge,cadunico_tot_fam,cadunico_tot_pes,cadunico_tot_fam_rpc_ate_meio_sm,cadunico_tot_pes_rpc_ate_meio_sm,cadunico_tot_fam_pob,cadunico_tot_pes_pob,cadunico_tot_fam_ext_pob,cadunico_tot_pes_ext_pob,cadunico_tot_fam_pob_e_ext_pob,cadunico_tot_pes_pob_e_ext_pob,ano,mes
count,66840.000000,6.684000e+04,6.684000e+04,6.684000e+04,6.684000e+04,66840.000000,66840.000000,66840.000000,6.684000e+04,66840.000000,6.684000e+04,66840.0,66840.000000
mean,325358.627828,5.492602e+03,1.406489e+04,4.336378e+03,1.218781e+04,520.438959,1542.014632,2656.935847,7.398214e+03,3177.374806,8.940228e+03,2021.0,6.500000
std,98482.928985,2.484312e+04,6.002268e+04,1.891355e+04,4.962486e+04,2804.756352,7972.302020,10711.124395,2.695684e+04,13301.404732,3.426755e+04,0.0,3.452078
min,110001.000000,1.600000e+01,3.200000e+01,1.000000e+01,2.300000e+01,0.000000,0.000000,0.000000,0.000000e+00,3.000000,4.000000e+00,2021.0,1.000000
25%,251210.000000,1.005000e+03,2.619000e+03,7.420000e+02,2.143000e+03,59.000000,186.000000,322.000000,8.910000e+02,464.000000,1.323000e+03,2021.0,3.750000
50%,314627.500000,2.208000e+03,5.779500e+03,1.714000e+03,4.916000e+03,139.000000,434.000000,957.500000,2.697000e+03,1187.000000,3.390500e+03,2021.0,6.500000
75%,411920.000000,4.808000e+03,1.283800e+04,3.899000e+03,1.127100e+04,351.000000,1075.000000,2576.000000,7.364000e+03,2943.000000,8.515000e+03,2021.0,9.250000
max,530010.000000,1.495666e+06,3.603087e+06,1.094647e+06,2.836198e+06,156020.000000,443276.000000,576094.000000,1.371050e+06,732114.000000,1.814326e+06,2021.0,12.000000

In [9]:
cad_unico_2022.describe()

,ibge,cadunico_tot_fam,cadunico_tot_pes,cadunico_tot_fam_rpc_ate_meio_sm,cadunico_tot_pes_rpc_ate_meio_sm,cadunico_tot_fam_pob,cadunico_tot_pes_pob,cadunico_tot_fam_ext_pob,cadunico_tot_pes_ext_pob,cadunico_tot_fam_pob_e_ext_pob,cadunico_tot_pes_pob_e_ext_pob,ano,mes
count,66840.000000,6.684000e+04,6.684000e+04,6.684000e+04,6.684000e+04,66840.000000,66840.000000,66840.000000,6.684000e+04,66840.000000,6.684000e+04,66840.0,66840.000000
mean,325358.627828,6.648944e+03,1.578294e+04,5.320387e+03,1.368526e+04,592.574820,1646.722292,3458.745781,8.601562e+03,4051.320601,1.024828e+04,2022.0,6.500000
std,98482.928985,3.044752e+04,6.889354e+04,2.401729e+04,5.797721e+04,3095.264199,8206.727390,15225.513212,3.445006e+04,18053.525251,4.197421e+04,0.0,3.452078
min,110001.000000,1.600000e+01,3.200000e+01,1.100000e+01,2.600000e+01,0.000000,0.000000,0.000000,0.000000e+00,3.000000,5.000000e+00,2022.0,1.000000
25%,251210.000000,1.171000e+03,2.875000e+03,8.687500e+02,2.364000e+03,70.000000,214.000000,411.000000,1.052000e+03,569.000000,1.505000e+03,2022.0,3.750000
50%,314627.500000,2.570000e+03,6.285500e+03,2.006000e+03,5.376000e+03,161.000000,475.000000,1180.000000,3.022000e+03,1437.000000,3.774000e+03,2022.0,6.500000
75%,411920.000000,5.658000e+03,1.395000e+04,4.569000e+03,1.231100e+04,416.000000,1199.000000,3154.000000,8.121000e+03,3589.000000,9.329000e+03,2022.0,9.250000
max,530010.000000,1.779023e+06,4.043470e+06,1.337091e+06,3.232653e+06,179225.000000,483991.000000,760359.000000,1.667560e+06,939584.000000,2.151551e+06,2022.0,12.000000

In [10]:
cad_unico_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66840 entries, 0 to 66839
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ibge                              66840 non-null  int64
 1   cadunico_tot_fam                  66840 non-null  int64
 2   cadunico_tot_pes                  66840 non-null  int64
 3   cadunico_tot_fam_rpc_ate_meio_sm  66840 non-null  int64
 4   cadunico_tot_pes_rpc_ate_meio_sm  66840 non-null  int64
 5   cadunico_tot_fam_pob              66840 non-null  int64
 6   cadunico_tot_pes_pob              66840 non-null  int64
 7   cadunico_tot_fam_ext_pob          66840 non-null  int64
 8   cadunico_tot_pes_ext_pob          66840 non-null  int64
 9   cadunico_tot_fam_pob_e_ext_pob    66840 non-null  int64
 10  cadunico_tot_pes_pob_e_ext_pob    66840 non-null  int64
 11  ano                               66840 non-null  int64
 12  mes                               66840 non-null  int64
dtypes: int64(13)
memory usage: 6.6 MB

In [11]:
cad_unico_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66840 entries, 0 to 66839
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ibge                              66840 non-null  int64
 1   cadunico_tot_fam                  66840 non-null  int64
 2   cadunico_tot_pes                  66840 non-null  int64
 3   cadunico_tot_fam_rpc_ate_meio_sm  66840 non-null  int64
 4   cadunico_tot_pes_rpc_ate_meio_sm  66840 non-null  int64
 5   cadunico_tot_fam_pob              66840 non-null  int64
 6   cadunico_tot_pes_pob              66840 non-null  int64
 7   cadunico_tot_fam_ext_pob          66840 non-null  int64
 8   cadunico_tot_pes_ext_pob          66840 non-null  int64
 9   cadunico_tot_fam_pob_e_ext_pob    66840 non-null  int64
 10  cadunico_tot_pes_pob_e_ext_pob    66840 non-null  int64
 11  ano                               66840 non-null  int64
 12  mes                               66840 non-null  int64
dtypes: int64(13)
memory usage: 6.6 MB

### Adicionar tabelas ao banco

In [12]:
import sqlite3

In [13]:
db_path = 'sql/eleicao.db'
connection = sqlite3.connect(db_path)

In [14]:
table_name = 'cadastro_unico_2021'
cad_unico_2021.to_sql(table_name, connection, if_exists='replace', index=False)

66840

In [15]:
table_name = 'cadastro_unico_2022'
cad_unico_2022.to_sql(table_name, connection, if_exists='replace', index=False)

66840